<% tickets.each do |ticket| %>
    <% if (ticket.user_id == current_user.id) && ( ticket.user_open == true && ticket.owner_open == true ) %>
        <div class="row">
          <div class="col-xs-8">
            <h3>Ticket Name: <%= ticket.name %></h3>
            <p><strong>Description: </strong> <%= ticket.description %></p>
          </div>
          <div class="col-xs-4">
            <h5>Date Created: <span class="label label-default"><%= ticket.created_at %></span>

            </h5>
            <h5>Last Updated: <span class="label label-default"><%= ticket.updated_at %></span></h5>
          </div>
        </div>
        <div class="row ticketrow" data-property="<%= ticket.id %>">
          <div class="col-xs-10 col-xs-push-2">
            <%= render :partial => '/ticket_comments/form', locals: {  ticket_comment: TicketComment.new, ticket_id: ticket.id } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10 col-xs-push-2">
            <% ticket.ticket_comments.each do |comment| %>
            <p><%= comment.comment %></p>
            <% end %>
          </div>
        </div>
    <% end %>
<% end %>