<div id="admin">
  <div class="row">
    <div class="col-xs-12">
      <h1>Admin Panel</h1>
    </div>
  </div>

  <div class="row">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
      <li><a href="#properties" role="tab" data-toggle="tab">Add / Manage Properties</a></li>
      <li><a href="#tickets" role="tab" data-toggle="tab">Tickets</a></li>
      <li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
      <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>
  </div>
  <div class="row">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <p>Welcome to the admin home</p>
      </div>
      <div class="tab-pane" id="properties">

        <div class="row">
          <div class="col-xs-12">
            <p class="newproperty btn btn-default navbar-btn">Add A Property</p>
          </div>
        </div>
        <div id="newproperty">
          <%= render 'properties/form', :locals => { @property => Property.new } %>
        </div>
        <% @properties.each do |property| %>
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-1">
                    <span class="opentickets alert-info">
                      <%= property.tickets.size %>
                    </span>
                  </div>
                  <div class="col-xs-9 col-xs-push-1">
                    <h3>Business name: <%= property.business_name %></h3>
                    <p><%= property.street_address %>, <%= property.city %>, <%= property.state %> <%= property.zip %></p>
                    <p><%= link_to 'Show', property %></p>
                  </div>
                </div>
                <div class="row ticketsrow">
                  <div class="col-xs-8 col-xs-push-2">
                    <div class="row">
                      <div class="col-xs-12">

                        <%= render :partial => 'admins/admin_tickets', :locals => { tickets: property.tickets } %>

                      </div>


                    </div>
                  </div>
                </div>
              </div>

            </div>

        <% end %>
      </div>
      <div class="tab-pane" id="tickets">

        <div class="row">
          <div class="col-xs-12">
            <h3>Open Tickets</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <% @properties.each do |property| %>

                <%= render :partial => 'admins/admin_tickets', :locals => { tickets: property.tickets } %>

            <% end %>
          </div>
        </div>

      </div>
      <div class="tab-pane" id="messages">
        <div class="row">
          <div class="col-xs-12">
            <h3>Test</h3>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="settings">settings...</div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('.newproperty').on('click', function(e) {
            $('#newproperty').slideToggle();
        })

    });
</script>