<% if defined?(@property)

     else

       @property = Property.new

   end
   %>

<div class="row">

  <div class="col-xs-12">

    <%= form_for(@property) do |f| %>
        <% if @property.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

              <ul>
                <% @property.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row form-group">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :business_name %></span>
              <%= f.text_field :business_name, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :street_address %></span>
              <%= f.text_field :street_address, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-4">
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :city %></span>
              <%= f.text_field :city, class:"form-control" %>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :state %></span>
              <%= f.text_field :state, class:"form-control" %>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :zip %></span>
              <%= f.text_field :zip, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-4">
            <div class="form-group">

                <div class="checkbox">
                  <label>
                    <%= f.check_box :mdu, class:"" %> Multi Dwelling Unit?
                  </label>
                </div>

            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :units %></span>
              <%= f.text_field :units, class:"form-control" %>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon"><%= f.label :description %></span>
              <%= f.text_area :description, class:"form-control", size:"40" %>
            </div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-4">
            <div class="actions">
              <%= f.submit %>
            </div>
          </div>
        </div>
    <% end %>

  </div>

</div>

