<div class="row">
  <div class="col-xs-12">
    <h1>Listing properties</h1>
  </div>
</div>

  <section id="properties">
    <% @properties.each do |property| %>
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag property.property_photo.url(:thumb) %>
          </div>
            <div class="col-xs-10">
              <h3>Business name: <%= property.business_name %></h3>
              <p><%= property.street_address %>, <%= property.city %>, <%= property.state %> <%= property.zip %></p>
              <p><span data-property="<%= property.id %>" class="btn btn-default navbar-btn openticket">Open a Ticket</span> </p>
            </div>
        </div>
        <div class="row ticketsrow">
          <div class="col-xs-8 col-xs-push-2">
            <div class="row">
              <div class="col-xs-12">
                <% property.tickets.each do |ticket| %>
                    <% if ticket.user_id == current_user.id %>
                        <h3>Ticket Name: <%= ticket.name %></h3>
                        <p><strong>Description: </strong> <%= ticket.description %></p>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row ticketrow" data-property="<%= property.id %>">
          <div class="col-xs-12">
            <%= render :partial => '/tickets/form', locals: {  ticket: Ticket.new, propertyid: property.id } %>
          </div>
        </div>
    <% end %>
  </section>


<script>
    $(document).ready(function() {
        $('.openticket').on('click', function(e) {
            var property = $(this).data('property');
            console.log(property);
            $('.ticketrow[data-property="' + property +'"]').slideToggle();

        })

    });
</script>


