<div class="row">
  <div class="col-xs-12">
    <h1>Listing properties</h1>
  </div>
</div>

  <section id="properties">
    <% @properties.each do |property| %>
        <div class="row">
          <div class="col-xs-2">
            <%= image_tag property.property_photo.url(:thumb) %>
          </div>
            <div class="col-xs-10">
              <h3>Business name: <%= property.business_name %></h3>
              <p><%= property.street_address %>, <%= property.city %>, <%= property.state %> <%= property.zip %></p>
              <p><%= link_to 'Show', property %><span class="openticket">Open a Ticket</span> </p>
            </div>
        </div>
        <div class="row">
          <%= render :partial => '/tickets/form', locals: {  ticket: Ticket.new, propertyid: property.id } %>
        </div>
    <% end %>
  </section>

<%= link_to 'New Property', new_property_path %>
